body, .font-default {
  font-family: 'Noto Sans JP', serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.font-game {
  font-family: 'VT323', serif;
  font-weight: 400;
  font-style: normal;
}
